@model IEnumerable<BookStoreASPClient.Models.CartItem>

@Scripts.Render("~/Scripts/cart.js")

@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cart</h2>

@if (ViewBag.Message != null)
{
    <span class="text-danger">@ViewBag.Message</span>
}


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Book.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Book.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Book.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            Action
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Book.Title, "Details", "Book", new { Id = item.Book.Id })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Book.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Book.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                <button type="button" class="btn btn-danger" onclick="deleteCartItem(@item.Id)">Delete</button>
            </td>
        </tr>
    }

</table>

<button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("CheckOut", "Order",Model)'">Checkout</button>