@model IEnumerable<BookStoreASPClient.Models.BookDTO>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Books</h2>

@using (Html.BeginForm("Search", "Book", FormMethod.Get,new { @class = "form-inline" }))
{
    <div>
        <input type="text" id="keyword" name="keyword" class="form-control"/>
        <input type="submit" id="submitId" value="submit" class="form-control btn btn-success"/>
        @Html.ActionLink("Clear", "Index", "Book" ,null, new { @class = "form-control btn btn-default" })
    </div>
}
@{ 
    if(ViewBag.SearchKey != null)
    {
        <span>
            Search Key :@ViewBag.SearchKey
        </span>
    }
}
@*<div>
    <input type="text" title="search" />
    <input type="button" title="Search" />
</div>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Title,"Details",new { id = item.Id })
            @*@Html.DisplayFor(modelItem => item.Title)*@
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Author)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @*@Html.ActionLink("Add To Cart", "AddToCart", new { id = item.Id }) |
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |*@
        </td>
    </tr>
}

</table>
